@tailwind base;
@tailwind components;
@tailwind utilities;



/* USE UTILITY CLASS AS:

<div class="hazard-border">
  ...
</div>

 */
 
@layer utilities {
  .hazard-border {
    border-width: 4px;
    border-style: solid;
    border-image: repeating-linear-gradient(
      45deg,
      theme('colors.hazard.400') 0 10px,
      theme('colors.ink.500') 10px 20px
    ) 8;
  }
}



@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.metal.800');
    border-right-color: theme('colors.hazard.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.hazard.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}




/* For data picker */

/*
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
}
	
*/